<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil - Match</title>
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
    <div class="headerNonUser">
        <div class="home">
            <a href="/"><img src="/images/logo.png" alt="logo"></a>
        </div>
        <div class="navigationHeader">
            <a href="/Nos_services"><div class="services">Nos Services</div></a>
            <a href="/A_propos"><div class="about">A propos</div></a>
            <a href="/Contact"><div class="contact">Contact</div></a>
        </div>
        <div class="login">
            <a href="/auth/Se_connecter">Se connecter(ce qui marche)</a>
        </div>
        <div class="signup">
            <a href="/auth/Connexion">Connexion(ce qui ne marche pas)</a>
        </div>
    </div>
    
    <div class="contentAcceuil">
        <div class="videoContainer">
            <video id = "video" autoplay muted loop>
                <source src="/images/videos/Video_de_presentation.mp4" type="video/mp4">
                <!-- Fallback si le format n'est pas supporté -->
                Votre navigateur ne supporte pas la vidéo HTML5.
            </video>
        </div>
        <a href="/app"><div class="app">Qu'est-ce que l'amour ?</div></a>
    </div>

    <div class="footer">
        <div class="navigationFooter">
            <a href="/Nos_services">Nos Services</a>
            <a href="/A_propos">A propos</a>
            <a href="/Contact">Contact</a>
        </div>

        <div class="copyright">© 2024 Match. Tous droits reservés.</div>
    </div>
</body>
</html>
