<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A propos - Match</title>
    <link rel="stylesheet" href="styles.css"> <!-- Le fichier CSS externe -->
</head>
<body>
    <div class="headerNonUser">
        <div class="home">
            <a href="/"><img src="images/logo.png" alt="logo"></a>
        </div>
        <div class="navigationHeader">
            <a href="/Nos_services"><div class="services">Nos Services</div></a>
            <a href="/A_propos"><div class="about">A propos</div></a>
            <a href="/Contact"><div class="contact">Contact</div></a>
        </div>
        <div class="login">
            <a href="/Se_connecter"><div class="login">Se connecter</div></a>
        </div>
    </div>

    <div class="aboutUs">
        <div class="backgroundImage">
            <img src="images/Acceuil.jpg" alt="Acceuil Background">
        </div>
        <div class="overlay">
            <h1>A propos de Match</h1>
            <div class="description">
                <p>Bienvenue sur Match – Votre Destination pour des Rencontres Authentiques.</p>
                <p>Chez Match, nous croyons que chaque personne mérite de trouver une connexion sincère et significative...</p>

                <h2>Notre Mission</h2>
                <p>Notre mission est de faciliter des rencontres authentiques en offrant un environnement sûr, convivial et intuitif.</p>
                
                <h2>Notre Vision</h2>
                <p>Nous envisionnons un monde où chaque individu peut trouver sa moitié de manière simple et agréable, sans barrières ni complications.</p>
                
                <h2>Ce Qui Nous Rend Uniques</h2>
                <p>Algorithmes de Compatibilité Avancés, Interface Intuitive, Communauté Diversifiée et Support Dédié.</p>
                
                <h2>Comment Ça Marche</h2>
                <p>Inscription Facile, Personnalisez Votre Recherche, Découvrez des Profils Compatibles, et Rencontrez en Toute Confiance.</p>

                <h2>Sécurité et Confidentialité</h2>
                <p>Votre sécurité est notre priorité absolue. Match utilise des protocoles de sécurité avancés pour protéger vos données personnelles.</p>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="navigationFooter">
            <a href="/Nos_services"><div class="services">Nos Services</div></a>
            <a href="/A_propos"><div class="about">A propos</div></a>
            <a href="/Contact"><div class="contact">Contact</div></a>
        </div>
        <div class="copyright">© 2024 Match. Tous droits réservés.</div>
    </div>
</body>
</html>
