<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire - Match</title>
</head>
<body>
    <div class="home">
        <a href="/"><img src="images/logo.png" alt="logo"></a>
    </div>
    <div class="contactForm">
        <h1>Contactez-nous</h1>
        <form>
            <label for="nom">Nom</label>
            <input type="text" id="name" name="name" placeholder="Votre nom" required>
            <label for="emailContact">Email</label>
            <input type="emailContact" id="emailContact" name="emailContact" placeholder="Votre email" required>
            <label for="message">Message</label>    
            <textarea id="message" name="message" placeholder="Ecrivez votre message..." required></textarea>
            <button type="submitContactForm">Envoyer</button>
        </form>
    </div>
</body>
</html>