<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nos services - Match</title>
</head>
<body>
    <div class="headerNonUser">
        <div class="home">
            <a href="/"><img src="images/logo.png" alt="logo"></a>
        </div>
        <div class="navigationBarHeader">
            <a href="/Nos_services"><div class="services">Nos Services</div></a>
            <a href="/A_propos"><div class="about">A propos</div></a>
            <a href="/Contact"><div class="contact">Contact</div></a>
        </div>
        <div class="login">
            <a href="/Se_connecter"><div class="login">Se connecter</div></a>
        </div>
    </div>

    <div class="footer">
        <div class="navigationBarFooter">
            <a href="/Nos_services"><div class="services">Nos Services</div></a>
            <a href="/A_propos"><div class="about">A propos</div></a>
            <a href="/Contact"><div class="contact">Contact</div></a>
        </div>

        <div class="copyright">© 2024 Match. Tous droits reservés.</div>>
    </div>
</body>
</html>