<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Se connecter</title>
</head>
<body>
    <div class="home">
        <a href="/"><img src="images/logo.png" alt="logo"></a>
    </div>

    <div class="login">
        <h1>Se connecter</h1>
        <form action="/auth/Se_connecter" method="POST">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Votre email" required>
            <label for="password">Mot de passe</label>
            <input type="password" id="password" name="password" placeholder="Confirmez votre mot de passe" required>
            <button type="submit">Se connecter</button>
        </form>
        <p>Vous n'avez pas encore de compte ? <a href="/Creer_un_compte">Créer un compte</a></p>
    </div> 
    <% if ((typeof message !== 'undefined' && message)){ %>
        <div class="alert alert-success"><%= message %></div>
    <% } %>
</body>
</html>