<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Créer un compte</title>
</head>
<body>
    <div class="home">
        <a href="/"><img src="images/logo.png" alt="logo"></a>
    </div>

    <div class="login">
        <h1>Créer un compte</h1>
        <form>
            <label for="username">Nom d'utilisateur</label>
            <input type="text" id="username" name="username" placeholder="Votre pseudo" required>
            <label for="emailLogin">Email</label>
            <input type="emailLogin" id="emailLogin" name="emailLogin" placeholder="Votre email" required>
            <label for="passwordLogin">Mot de passe</label>
            <input type="passwordLogin" id="passwordLogin" name="passwordLogin" placeholder="Votre mot de passe" required>
            <label for="confirmPassword">Confirmer le mot de passe</label>
            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirmez votre mot de passe" required>
            <button type="submitLoginForm">S'enregistrer</button>
        </form>
    </div>    
</body>
</html>