<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application - Match</title>
</head>
<body>
    <div class="headerUser">
        <div class="home">
            <a href="/"><img src="../public/images/logo.png" alt="logo"></a>
        </div>
        <div class="navigationHeader">
            <div class="likes">
                <img src="../public/images/likes.png" alt="likes">
                <a href="/app/Likes">Likes</a>
            </div>
            <div class="messagerie">
                <img src="../public/images/messagerie.png" alt="messagerie">
                <a href="/app/Messagerie">Messagerie</a>
            </div>
            <div class="match">
                <img src="../public/images/messagerie.png" alt="match">
                <a href="/app">Match</a>
            </div>
        </div>
        <div class="profil">
            <label for="profil">Nom</label>
            <a href="/app/Profil"><div class="Profil"><img src="../public/images/profil.png" alt="photo de profil"></div></a>
        </div>
    </div>
</body>
</html>