* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-color: #f5f5f5;
    color: #333;
}

.headerNonUser {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, #cfd8e3, #98aecf);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.headerNonUser .home img {
    height: 3.75rem;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
}

.navigationHeader {
    display: flex;
    justify-content: center;
    flex: 1;
}

.navigationHeader a {
    margin: 0 2.5rem;
    color: #444;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease-in-out;
}

.navigationHeader a:hover {
    color: #007acc;
}

.login a{
    display: inline-block;
    text-decoration: none;
    color: #444;
    background-color: #ffebf0;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login a:hover, .signup a:hover {
    background-color: #ff94b0;
    box-shadow: 0 4px 8px rgba(255, 192, 203, 0.5);
}

.container {
    padding: 4rem;
    max-width: 1200px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0.5rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.services, .aboutUs, .contact {
    margin-top: 2rem;
}

.services h1, .aboutUs h1, .contact h1 {
    margin-top: 0;
    color: #333;
}

.services p, .aboutUs p, .contact p {
    margin-bottom: 2rem;
}

.cta-button {
    background-color: #4CAF50;
    color: white;
    padding: 1.5rem 3rem;
    margin: 1rem 0;
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
    transition-duration: 0.4s;
    font-size: 1rem;
}

.cta-button:hover {
    background-color: #45a049;
}

/* Footer */
.footer {
    background-color: #333;
    color: white;
    padding: 1px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
}

.navigationFooter {
    display: flex;
    margin: 10px 0px;
}

.navigationFooter a {
    color: white;
    text-decoration: none;
    margin: 0 2.5rem;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.navigationFooter a:hover {
    color: #cccccc;
}

.copyright {
    font-size: 0.9rem;
    text-align: center;
}
